<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sym Profile</title>
</head>
<body>
        <header class="header">
            <div class="card">
                <a href="" class="logo">Sym</a>

                <nav class="drawer">
                    <ul class="drawer-menu">
                        <li class="drawer-item"><a href="" class="drawer-link">Home</a></li>
                        <li class="drawer-item"><a href="#" class="drawer-link">Favourite</a></li>
                        <li class="drawer-item"><a href="https://www.linkedin.com/in/rifqi-syamsul-b590a5259/" class="drawer-link">About Us</a></li>
                    </ul>
                    <a class="hamburger" href="#">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                      </a>
                </nav>
            </div>
        </header>

        <main>
                <section class="hero">
                    <div class="content">
                        <article class="content__about">
                            <h2>Ha<span>lo!</span></h2>
                            <h3>Saya Muhammad Rifqi Syamsul Ma'arif</h3>
                            <p>Front-End Developer adalah bidang yang saya tekuni!</p>

                            <div class="content__about-contact">
                                <ul>
                                    <li style="--i:7;"><a href="https://www.instagram.com/rsymsul"><img src="../assets/ig.png" alt="Instagram" ></a></li>
                                    <li style="--i:8;"><a href="https://www.facebook.com/csckie08"><img src="../assets/fb.png" alt="Facebook"></a></li>
                                    <li style="--i:9;"><a href="https://www.x.com/greatness842"><img src="../assets/twitter.png" alt="Twitter"></a></li>
                                </ul>
                            </div>
                            
                        </article>

                            <aside class="content__image">
                                <img src="../assets/myimg.jpeg" alt="">
                            </aside>
                        </div>

                        <aside class="content__skills">
                            <p>Tech Stacks</p>
                            <ul>
                                <li style="--i:7;"><img src="../assets/html-5.png" alt="HTML"></li>
                                <li style="--i:8;"><img src="../assets/css-3.png" alt="CSS"></li>
                                <li style="--i:9;"><img src="../assets/js.png" alt="JS"></li>
                                <li style="--i:10;"><img src="../assets/physics.png" alt="React"></li>
                            </ul>
                        </aside>
                </section>

                <!-- <section class="about">
                        <h2>Latar Belakang</h2>
                        <p>"Front-End Developer adalah satu dari sekian banyaknya keahlian pada bidang teknologi yang berdampak besar kepada para penngguna. Tugas saya, menciptakan sentuhan awal yang menarik bagi para pengguna melalui Situs yang dikunjungi. Dengan pengetahuan dan skill yang saya miliki, saya akan belajar dan menerapkan terhadap project yang saya tangani." </p>
                </section> -->
        </main>

    <footer>
        <div class="footer__shadow">
            Copyright &copy; 2023
        </div>
    </footer>
</body>
</html>